@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'rmc-picker/assets/index.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-circular-progressbar/dist/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import 'swiper/css/lazy';
@import 'react-nice-dates/build/style.css';
@import 'react-responsive-select/dist/react-responsive-select.css';

body {
  touch-action: manipulation !important;
  -ms-touch-action: manipulation !important;
  pointer-events: all;
}

.textDegrade {
  background: linear-gradient(
    90deg,
    #b4a9bc 0%,
    #ffffff 40%,
    #ffffff 80%,
    #b4a9bc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*RESET INPUTS*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
::placeholder,
textarea {
  -webkit-appearance: none !important;
  font-weight: 300 !important;
  color: gray !important;
  border-radius: 0% !important;
  font-size: 16px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px #ffffff00 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff00 inset !important;
  transition: 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
  color: white;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 10%;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
}
.CircularProgressbar-trail,
.CircularProgressbar-path {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.24));
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.rmc-picker-mask {
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 100%),
      rgb(0 0 0 / 63%)
    ),
    linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 63%)) !important;
}
.rmc-picker-indicator {
  border: none !important;
}

.rmc-picker-item {
  color: white !important;
  font-size: 20px !important;
  line-height: 32px !important;
  font-family: 'Merriweather';
  opacity: 0.8;
}

.rmc-picker-item-selected {
  opacity: 1;
}
.btn {
  overflow: hidden;
}

.btn:hover span {
  width: 6%;
}
.colorMenu:hover .menu::after {
  top: 0em;
  transform: scale(8);
  transition: all 1s ease-in-out;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.colorMenu:hover .menu::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.colorMenu:hover {
  transition: all 1s ease-in-out;
  opacity: 0.6;
}

.colorMenu:hover .menuInvert::after {
  opacity: 0;
}
.colorMenu:hover .menuInvert::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.colorMenu:hover {
  transition: all 1s ease-in-out;
  opacity: 0.6;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  margin-right: 5px !important;
}
.swiper-button-disabled {
  transition: all ease 0.5s;
  opacity: 0 !important;
}
#reserve .react-datepicker__input-container {
  background: none !important;
}
input#input-4 {
  background-color: black;
  border: 0 !important;
  outline: none !important;
}
.react-datepicker__month-container,
.react-datepicker__input-container,
.react-datepicker__header,
.react-datepicker__day-name,
.react-datepicker__portal,
.react-datepicker__current-month,
.react-datepicker__day {
  background-color: black;
  color: white !important;
}
input[type='text'] {
  background-color: #0f0b1100 !important;
  margin-bottom: 1%;
}
.react-datepicker__input-container {
  background: none;
}
.react-datepicker__input-container:hover {
  opacity: 1;
  transition: all ease 0.5s;
}
.react-datepicker__input-container {
  opacity: 1;
}
.react-datepicker__input-container {
  position: relative;
}

.react-datepicker__input-container::after {
  content: url(../public/icon/calendar.svg);
  fill: white;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

.nice-dates::after {
  content: url(../public/icon/calendar.svg);
  fill: white;
  position: absolute;
  bottom: 10%;
  right: 2%;
}

#trend .react-datepicker__input-container::after {
  display: none !important;
}

.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker__input-container,
.borderInput {
  border-bottom: 1px solid #6f6d70;
}
.react-datepicker__input-container:hover,
.borderInput:hover {
  border-bottom: 1px solid white;
}
.react-datepicker__day:hover {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.356) !important;
  outline: 1px solid #f0f0f0;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.356) !important;
  outline: 1px solid #f0f0f0;
}

.css-319lph-ValueContainer {
  padding: 0 !important;
}
.filter {
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 100%),
      rgb(0 0 0 / 63%)
    ),
    linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 63%)) !important;
  filter: blur(100);
}
.filter .swiper-slide {
  opacity: 0.4;
}
.filter .swiper-slide-active {
  transform: translatex(25%) scale(1.5);
  transition: all 0.3s ease;
  opacity: 1 !important;
}

#reserve:focus {
  opacity: 1 !important;
}

.nice-dates-popover {
  filter: invert(1);
  box-shadow: none;
  border: 1px solid #ddd;
  border-radius: 2px;
  max-width: 80%;
}
.rrs__button {
  background: transparent !important;
  outline: none !important;
}
.rrs__label {
  padding: 0 10px 0 5px !important;
  outline: none !important;
  border: 0px !important;
  border-radius: 0px !important;
}
.rrs .caret-icon {
  fill: #e3e3e3 !important;
}
.rrs--has-changed .rrs__label {
  color: #d1d5db80 !important;
  font-weight: 300 !important;
}
#rrs-numberOfHours-menu {
  filter: invert(1) !important;
}
.rrs__option {
  opacity: 0.4;
}

.rrs__option--selected,
.rrs__option.rrs__option--next-selection {
  opacity: 1 !important;
  color: black !important;
}
.rrs__option:hover {
  color: black !important;
  opacity: 1 !important;
}

#rrs-form-field-name-label {
  opacity: 1;
  color: #d1d5db;
  -webkit-appearance: none !important;
  font-weight: 300 !important;
  border-radius: 0% !important;
  font-size: 16px !important;
}
