@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-circular-progressbar/dist/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import 'swiper/css/lazy';

* {
  scroll-behavior: smooth;
}

.textDegrade {
  background: linear-gradient(
    90deg,
    #b4a9bc 0%,
    #ffffff 40%,
    #ffffff 80%,
    #b4a9bc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 10%;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
}
.CircularProgressbar-trail,
.CircularProgressbar-path {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.24));
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
@media (max-width: 640px) {
  .swiper-slide-active {
    display: none !important;
  }
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

#filter
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
  opacity: 0.4;
}
#filter .swiper-slide-visible {
  opacity: 1;
}
.btn {
  overflow: hidden;
}

.btn:hover span {
  width: 6%;
}
.colorMenu:hover .menu::after {
  top: 0em;
  transform: scale(8);
  transition: all 1s ease-in-out;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.colorMenu:hover .menu::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.colorMenu:hover {
  transition: all 1s ease-in-out;
  opacity: 0.6;
}

.colorMenu:hover .menuInvert::after {
  opacity: 0;
}
.colorMenu:hover .menuInvert::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.colorMenu:hover {
  transition: all 1s ease-in-out;
  opacity: 0.6;
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  margin-right: 5px !important;
}
input#input-4 {
  background-color: black;
  border: 0 !important;
  outline: none !important;
}
#datePicker-19_modal section {
  background-color: black;
  border-radius: 0%;
  margin: 10px;
}
.dJHgI::after,
.dgExyT,
.sc-cJSrbW.jsQYfv,
.eWjXmP,
.bhKBNK,
.iunbWn {
  background: white !important;
  background-color: white !important;
}
.dJHgI:focus,
.dJHgI:active,
.dJHgI:hover,
.ceEIkZ:focus,
.ceEIkZ:active,
.csLTLp:focus,
.csLTLp:active,
.csLTLp:hover {
  box-shadow: 0 0 2px white !important;
  border: 1px solid white !important;
  box-shadow: none !important;
}
#modal-content-10 header {
  display: none;
}
#modal-content-10 section {
  margin-top: 10%;
}

#modal-content-10 button {
  background-color: black;
  color: white;
}
#modal-content-10 .dgEx {
  border: 1px solid white;
  background: rgb(255 255 255 / 0%) !important;
}
.kLGRex {
  padding: 3rem;
}
