@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'rmc-picker/assets/index.css';
@import 'react-datepicker/dist/react-datepicker.css';
@import 'react-circular-progressbar/dist/styles.css';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';
@import 'swiper/css/lazy';
@import '@fontsource/merriweather';
@import '@fontsource/lato';
@import '@fontsource/merriweather-sans';

* {
  scroll-behavior: smooth;
}

.textDegrade {
  background: linear-gradient(
    90deg,
    #b4a9bc 0%,
    #ffffff 40%,
    #ffffff 80%,
    #b4a9bc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  position: absolute;
  top: 10%;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 30px;
}
.CircularProgressbar-trail,
.CircularProgressbar-path {
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.24));
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.rmc-picker-mask {
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 100%),
      rgb(0 0 0 / 63%)
    ),
    linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 63%)) !important;
}
.rmc-picker-indicator {
  border: none !important;
}

.rmc-picker-item {
  color: white !important;
  font-size: 20px !important;
  line-height: 32px !important;
  font-family: 'Merriweather';
  opacity: 0.8;
}

.rmc-picker-item-selected {
  opacity: 1;
}
.btn {
  overflow: hidden;
}

.btn:hover span {
  width: 6%;
}
.colorMenu:hover .menu::after {
  top: 0em;
  transform: scale(8);
  transition: all 1s ease-in-out;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.colorMenu:hover .menu::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.colorMenu:hover .menuInvert::before {
  transform: scale(0.2);
  background-color: white;
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.dark .colorMenu:hover .menu::before {
  transform: scale(0.2);
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
.dark .colorMenu:hover .menuInvert::before {
  transform: scale(0.2);
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  transition: all 0.5s ease-in;
}
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  margin-right: 5px !important;
}
.swiper-button-disabled {
  transition: all ease 0.5s;
  opacity: 0 !important;
}
#reserve .react-datepicker__input-container {
  background: none !important;
}
input#input-4 {
  background-color: black;
  border: 0 !important;
  outline: none !important;
}
.react-datepicker__month-container,
.react-datepicker__input-container,
.react-datepicker__header,
.react-datepicker__day-name,
.react-datepicker__portal,
.react-datepicker__current-month,
.react-datepicker__day {
  background-color: black;
  color: white !important;
}
input[type='text'] {
  background: none;
  margin-bottom: 1%;
}
.react-datepicker__input-container:hover {
  opacity: 1;
  transition: all ease 0.5s;
}
.react-datepicker__input-container {
  opacity: 0.6;
}
.react-datepicker__input-container {
  position: relative;
}

.react-datepicker__input-container::after {
  content: url(../public/icon/calendar.svg);
  fill: white;
  position: absolute;
  bottom: 10%;
  right: 2%;
}
#trend .react-datepicker__input-container::after {
  display: none !important;
}

.react-datepicker__input-container input {
  width: 100%;
}

.react-datepicker__input-container,
.borderInput {
  border-bottom: 0.8px solid white;
}
.react-datepicker__day:hover {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.356) !important;
  outline: 1px solid #f0f0f0;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range) {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.356) !important;
  outline: 1px solid #f0f0f0;
}

.css-319lph-ValueContainer {
  padding: 0 !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
